<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mohazi.mapper.BoardAttachMapper">


	<insert id="insert">
		insert into attach (uuid, uploadpath, filename, p_no)
		values (#{uuid}, #{uploadPath}, #{fileName}, #{p_no} )
	</insert>


	<delete id="delete">

		delete from attach where uuid = #{uuid}

	</delete>

	<select id="findByPno"
		resultType="com.mohazi.domain.BoardAttachVO">
		select * from attach where p_no = #{p_no}
	</select>

	<delete id="deleteAll">
	
			delete attach where p_no = #{p_no}
	
	</delete>
</mapper>