<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mohazi.mapper.FAQMapper">

<!-- FAQ 목록 -->
<select id="getList" resultType="com.mohazi.domain.FAQVO">
	SELECT TITLE, CONTENT, CATEGORY
	FROM FAQ
	<!-- 검색했을 경우 -->
    <where>
    	<if test="keyword != null">
    		TITLE LIKE '%'||#{keyword}||'%' OR CONTENT LIKE '%'||#{keyword}||'%'
    	</if>
    </where>
</select>

</mapper>