<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mohazi.mapper.QNAMapper">

	<insert id="insert">
		INSERT INTO QNA (Q_NO, ID, P_NO, QUESTION) VALUES(SEQ_QNA.NEXTVAL, #{id}, #{p_no}, #{question})
	</insert>
	
	<select id="read" resultType="com.mohazi.domain.QNAVO">
		SELECT * FROM QNA WHERE Q_NO = #{q_no}
	</select>
	
	<delete id="delete">
		DELETE FROM QNA WHERE Q_NO = #{q_no}
	</delete>
		
	<update id="updateAnswer">
		UPDATE QNA SET ANSWER = #{answer}, A_REGDATE = SYSDATE WHERE Q_NO = #{q_no}
	</update>
	
	<select id="getList" resultType="com.mohazi.domain.QNAVO">
		SELECT PQ.Q_NO Q_NO, U.NICKNAME NICKNAME, PQ.QUESTION QUESTION, PQ.Q_REGDATE Q_REGDATE, PQ.ANSWER ANSWER, PQ.A_REGDATE A_REGDATE
		FROM (
				SELECT /*+ INDEX_DESC(Q IDX_QNA) */
				Q.Q_NO Q_NO, Q.ID ID, Q.P_NO P_NO, Q.QUESTION QUESTION, Q.Q_REGDATE Q_REGDATE, Q.ANSWER ANSWER, Q.A_REGDATE A_REGDATE
				FROM PARTY P, QNA Q
				WHERE P.P_NO = Q.P_NO ) PQ, USERS U
		WHERE PQ.ID = U.ID
		AND PQ.P_NO = #{p_no}
	</select>
</mapper>